<!--The content below is only a placeholder and can be replaced.-->

<!-- <div style="text-align:center"> -->

  <!-- <h1>
    Welcome to {{ title }}!{{name}}
  </h1> -->


  <!-- <p appCustomeDirective>This is Custom Directive</p>
  <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

  <!-- <app-assign-template-driven></app-assign-template-driven> -->
<!-- 
  <app-assign-reactive-form></app-assign-reactive-form>  -->

  <!-- <app-react-assign2></app-react-assign2> -->

<!-- <app-combined-reactiveform></app-combined-reactiveform> -->

 <!-- <app-template-form></app-template-form>  -->
<!-- 
<app-reactive-form></app-reactive-form> -->


<!-- <app-login-form></app-login-form> -->

  <!-- <app-ng-if></app-ng-if>

  <app-assignment-ng-style></app-assignment-ng-style>
  <br>
  <br>
  <app-ng-swtich></app-ng-swtich>
  <app-ng-style></app-ng-style>
  <app-ng-class></app-ng-class>
  <br>
<br> -->
<!-- <app-ngfor-practise></app-ngfor-practise>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->











  <!-- string Interpolation-in Data binding(ts to html) -->
  <!-- <h2>Employee Count:{{empcount}}</h2>
  <h1 class="bgcolor">
    <app-demo></app-demo>   
</h1>
<h4>{{date}}</h4>
<app-test1></app-test1>
<app-test2 [child]="parentTochild" (fromChild)="onParent($event)"></app-test2>


<app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> 
<app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>




<button (click)="testnew()">Save</button> -->

<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-success">Success</button> -->

  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
<!-- </div> -->
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
 
</ul> -->
<!-- string Interpolation-in Data binding(ts to html) -->
<!-- {{data.name}}
{{data.dept}}
{{ 2 + 2}}
{{2*2}}



<img [src]="img"  alt="">

<br>
<br>

<app-ngfor></app-ngfor>

<app-ng-if></app-ng-if> -->
<!-- 
<ng-container *ngFor="let product of product">
Product Name:<strong class="text-success">{{product.name}}</strong>
Product ID:<strong class="text-success">{{ product.id}}</strong>
</ng-container> -->

<!-- 
<app-pipe-example></app-pipe-example> -->
<!-- 
<app-product-filter></app-product-filter> -->

<h4 style="text-align: center;color:navy;"><i>Users Data</i></h4>
<!-- <div class="row justify-content-center">
  <div class="col-md-8">
      <label for="search">Search By Product</label>
      <input type="text" class="form-control" placeholder="Search name here"
      [(ngModel)]="searchName">
  </div>
  </div>
<table class="table table-success table-striped">
  
  <thead style="background-color: green;">
    
      <th>id</th>
      <th>name</th>
      <th>username</th> 
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
  </thead>
 <tbody>
<tr *ngFor="let result of users | searchPipe:searchName">
  <td>{{result.id}} </td>
  <td>{{result.name}}</td>
  <td>{{result.username}}</td>
  <td>{{result.email}}</td>
  <td>{{result.address.street +','+ result.address.suite+','+ result.address.city +','+result.address.zipcode }}</td>
  <td>{{result.phone}}</td>
  <td>{{result.website}}</td>
</tr>
 </tbody> 
  
</table> -->

<table class="table table-success table-striped">
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Categary</th>
    <th>Price</th>
    <th>Brand</th>
  </thead>
  <tbody>
    <tr *ngFor="let shows of showData">
      <td>{{shows.id}}</td>
      <td>{{shows.title}}</td>
      <td>{{shows.category}}</td>
      <td>{{shows.price}}</td>
      <td>{{shows.brand}}</td>
    </tr>
  </tbody>
</table>




<router-outlet></router-outlet>
