 
<div class="dropdown" >
  <button class="btn btn-secondary dropdown-toggle" type="button">
   Country:-
  
<select (change)="OnCountrySelect($event)" >
  <option value=""> Select Country</option>
  <option value="{{c.id}}" *ngFor="let c of countries">
      {{c.name}}
  </option>
</select>
</button>

</div>
<br>
<br>
<br>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
 State:-
 
<select >
  <option value=""> Select States</option>
  <option value="{{s.id}}" *ngFor="let s of states">
      {{s.name}}
  </option>
</select>
  </button>
 
</div>








